rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /user_alerts/{alertId} {
      allow read, create, delete: if true; 
    }
    match /stock/{stockId} {
      allow read, write: if true;
    }
    match /restock_logs/{logId} {
      allow read, write: if true;
    }
    match /store_blogs/{blogId} {
      allow read, write: if true;
    }
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
